# DB
DATABASE_URL="postgresql+asyncpg://postgres:postgres@postgres:5432/production_control"

# REDIS
REDIS_URL="redis://redis:6379/0"

# RABBITMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

# POSTGRES
POSTGRES_DB=production_control
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# CELERY
CELERY_BROKER_URL=amqp://admin:admin@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/1

# MINIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

ENVIRONMENT=dev